{% extends 'todo/base.html' %}
{% block content %}

<div class="row justify-content-center mt-5">
    <div class="col-md-5" style="color: #c19a3c;">
        <h1>Completed todos</h1>
        <ol>
            {% for todo in todos %}
            <li>
                    {% if todo.important %}
                    <b> {{ todo.title }}

                        {% else %}
                    </b> {{ todo.title }}

                    {% endif %}
                    {% if todo.comment %} - {{ todo.comment }}{% endif %}
                    {{ todo.completion_date|date:'M j H:i' }}
            </li>
            {% endfor %}
        </ol>
    </div>
</div>
{% endblock %}
