{% extends 'todo/base.html' %}
{% block content %}

Your completed todos:
<ol>
    {% for todo in todos %}
    <li>
        <a class="todo-link text-decoration-none" href="{% url 'viewtodo' todo.id %}">
            {% if todo.important %}
            <b> {{ todo.title }}

                {% else %}
            </b> {{ todo.title }}

            {% endif %}
            {% if todo.comment %} - {{ todo.comment }}{% endif %}
            {{ todo.completion_date|date:'M j H:i' }}
        </a>
    </li>
    {% endfor %}
    {% endblock %}
</ol>
