{% extends 'todo/base.html' %}
{% block content %}

<div class="row justify-content-center mt-5">
    <div class="col-md-5" style="color: #c19a3c;">
        <h1>Current</h1>
        <ol>
            {% for todo in todos %}
            <li>
                <a class="todo-link text-decoration-none" style="color: inherit; text-hover: #4f4837;"
                   href="{% url 'viewtodo' todo.id %}">
                    {% if todo.important %}
                    <b> {{ todo.title }}

                        {% else %}
                    </b> {{ todo.title }}

                    {% endif %}
                    {% if todo.comment %} - {{ todo.comment }}{% endif %}
                </a>
            </li>
            {% endfor %}
        </ol>
    </div>
</div>
{% endblock %}
