{% extends "todo/base.html" %}
{% block content %}

<div class="row justify-content-center mt-5">
    <div class="col-md-5" style="color: #c19a3c;">
        <h1>Sign Up</h1>
    </div>
</div>
<div class="row justify-content-center mt-5">
    <div class="col-md-5" style="color: #c19a3c;">
        {% if error %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endif %}

        <!--Signup form-->
        <form method="POST">
            {% csrf_token %}
            <div class="col-md-5 mb-3">
                <label for="username">Username</label>
                <input type="text" name="username" class="form-control" id="username" aria-describedby="usernameHelp"
                       style="background: #272727; border: #272727; color: #E7E7E7;">

                <label for="password1">Password</label>
                <input type="password" name="password1" class="form-control" id="password1"
                       style="background: #272727; border: #272727; color: #E7E7E7;">

                <label for="password2">Confirm Password</label>
                <input type="password" name="password2" class="form-control" id="password2"
                       style="background: #272727; border: #272727; color: #E7E7E7;">
            </div>
            <button type="submit" class="btn fw-bold" style="background-color: #c19a3c;">Sign Up</button>
        </form>
        <div class="col-md-5">
            Do you already have an account? <a href="{% url 'loginuser' %}"
                                               style="color: inherit; text-hover: #4f4837;">Login here</a>
        </div>
    </div>
</div>
{% endblock %}