{% extends 'todo/base.html' %}
{% block content %}

{% if error %}

{{ error }}

{% endif %}

{{ todo.title }}
<!--save mytodo-->
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Save</button>
</form>

<!--modify mytodo-->
<form method="POST" action="{% url 'completetodo' todo.id %}">
    {% csrf_token %}
    <button type="submit">Complete</button>
</form>

<!--delete mytodo-->
<form method="POST" action="{% url 'deletetodo' todo.id %}">
    {% csrf_token %}
    <button type="submit">Delete</button>
</form>
{% endblock %}
